[submodule "Malterlib_Tools"]
	path = Malterlib/Tools
	url = https://github.com/Malterlib/Malterlib_Tools
	branch = master
	fetchRecurseSubmodules = on-demand
[submodule "External_llvm"]
	path = llvm/llvm
	url = https://github.com/Malterlib/llvm.git
	branch = master
	fetchRecurseSubmodules = on-demand
[submodule "External_clang"]
	path = llvm/clang
	url = https://github.com/Malterlib/clang.git
	branch = master
	fetchRecurseSubmodules = on-demand
[submodule "External_clang-tools-extra"]
	path = llvm/clang-tools-extra
	url = https://github.com/Malterlib/clang-tools-extra.git
	branch = master
	fetchRecurseSubmodules = on-demand
[submodule "External_compiler-rt"]
	path = llvm/compiler-rt
	url = https://github.com/Malterlib/compiler-rt.git
	branch = master
	fetchRecurseSubmodules = on-demand
[submodule "External_lldb"]
	path = llvm/lldb
	url = https://github.com/Malterlib/lldb.git
	branch = master
	fetchRecurseSubmodules = on-demand
